<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yugenshtil.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_activity_splash_screen"
        tools:replace="android:label">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- android:theme="@android:style/Theme.Light" -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".UserMenu"
            android:label="@string/title_activity_user_menu"
           />

        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".Account.Login"
            android:label="Login"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ContactUs"
            android:label="@string/title_activity_contact_us" >
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutApp"
            android:label="@string/title_activity_about_app"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".useCases.History"
            android:label="@string/title_activity_history" />
        <activity
            android:name=".useCases.MyFavorites"
            android:label="@string/title_activity_my_favorites"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".useCases.Sell"
            android:label="@string/title_activity_sell"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ItemBuy.Buy"
            android:label="@string/title_activity_buy"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".useCases.MyMessages"
            android:label="@string/title_activity_my_messages" />
        <activity
            android:name=".ItemBuy.ItemBuy"
            android:label="@string/title_activity_my_messages" />
        <activity
            android:name=".RESTExample"
            android:label="@string/title_activity_restexample" />
        <activity
            android:name=".useCases.RangeChoose"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Account.Registration"
            android:label="@string/title_activity_registration_page" />
        <activity
            android:name=".ForgotPassword"
            android:label="@string/title_activity_forgot_password" />
        <activity
            android:name=".Item.AddItem"
            android:label="@string/title_activity_add_item"
            android:theme="@style/AppTheme" />
        <activity android:name=".model.ItemDisplayActivity" />
        <activity android:name=".Item.EditItem" />
        <activity
            android:name=".Test"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme" />
        <activity android:name=".useCases.ProgramFilter" />
        <activity
            android:name=".Item.AddImage"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".model.MyMessagesListDisplayActivity"
            android:theme="@style/AppTheme" />


        <activity android:name=".model.ItemHistoryDisplayActivity"></activity>
    </application>

</manifest>